@model UsersInfoDto
@section Styles {
    <link href="~/css/adminPanel.css" rel="stylesheet" asp-append-version="true" />
}

<partial name="_HeaderAdmin" />

<main class="bg-light h-100">
    <!-- Admins List -->
    <section class="py-5">
        <div class="container-md">
            <div class="row bg-white rounded-3 p-5 shadow-lg justify-content-between">
                <div class="col-12 text-center mb-4">
                    <p class="display-5">مدیریت ادمین ها</p>
                    <hr class="border border-3 border-dark-subtle">
                </div>
                <div class="col-md-4">
                    <form method="post" asp-action="AddAdmin">
                        <p class="h2 mb-4">افزودن ادمین</p>
                        <div class="mb-3">
                            <label asp-for="PhoneNumber" class="mb-2" for="name">شماره موبایل</label>
                            <input asp-for="PhoneNumber" type="text" class="form-control">
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-outline-success">افزودن</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <p class="h2 mb-4">لیست ادمین ها</p>
                    <div class="table-responsive table-container">
                        <table class="table">
                            <thead class="text-center">
                                <tr>
                                    <th>شماره موبایل</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="text-center align-middle">
                                @if(Model.Admins.Count != 0){
                                    @foreach (var item in Model.Admins)
                                    {
                                        <tr>
                                            <form asp-action="RemoveAdmin" method="post">
                                                <td class="select-admin">@item.PhoneNumber</td>
                                                <input type="hidden" asp-for="PhoneNumber" value="@item.PhoneNumber" />
                                                <td class="user-select-none"><button type="submit" class="btn btn-outline-danger">حذف <i class="fa-solid fa-trash"></i></button></td>
                                            </form>                                          
                                        </tr>
                                    }
                                }        
                                else{
                                    <tr>
                                        <td class="select-admin">ادمین نداریم</td>
                                        <td class="select-admin"></td>
                                    </tr>
                                }

                            </tbody>                           
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Admins List -->
    <!-- User List -->
    <section class="py-5">
        <div class="container-md">
            <div class="row bg-white rounded-3 p-5 shadow-lg justify-content-center">
                <div class="col-12 text-center mb-4">
                    <p class="display-5">مدیریت کاربران</p>
                    <hr class="border border-3 border-dark-subtle">
                </div>
                <div class="col-md-7">
                    <div class="table-responsive table-container">
                        <table class="table">
                            <thead class="text-center">
                                <tr>
                                    <th>#</th>
                                    <th>شماره موبایل</th>
                                    <th>موجودی کیف پول</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="text-center align-middle">
                                @{
                                    var userCount = 1;
                                }
                                @foreach (var item in Model.NormalUsers)
                                {
                                    <tr>
                                        <td class="select-admin">@userCount</td>
                                        <td class="select-admin">@item.PhoneNumber</td>
                                        <td class="select-admin">@item.Balance?.ToString("N0")</td>
                                        <td class="user-select-none"><button type="button" data-phonenumber="@item.PhoneNumber" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-outline-primary">ویرایش <i class="fa-solid fa-pencil"></i></button></td>
                                        <td class="user-select-none">
                                            <form asp-action="DeleteUser" method="post">
                                                <input type="hidden" asp-for="PhoneNumber" value="@item.PhoneNumber" />
                                                <button class="btn btn-outline-danger">حذف <i class="fa-solid fa-trash"></i></button>
                                            </form>
                                        </td>
                                        <td class="user-select-none"><a asp-action="UserOfTransactions" asp-route-phoneNumber="@item.PhoneNumber" class="btn btn-outline-success">تراکنش ها</a></td>
                                    </tr>
                                    userCount++;
                                }
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End User List -->

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">بروزرسانی کاربر</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form asp-action="UpdateUser" method="post">
                        <div class="mb-3">
                            <input type="hidden" id="OldPhoneNumber" name="OldPhoneNumber" value="" />
                            <label asp-for="PhoneNumber" class="col-form-label">شماره موبایل:</label>
                            <input asp-for="PhoneNumber" type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="mb-3">
                            <label asp-for="Balance" class="col-form-label">موجودی کیف پول:</label>
                            <input asp-for="Balance" type="text" class="form-control" id="recipient-name">
                        </div>
                        <button type="submit" class="btn btn-primary">تایید</button>
                    </form>
                </div>               
            </div>
        </div>
    </div>
</main>




@section Scripts{
    <script src="~/js/userManage.js"></script>
}