@model CheckBalanceResponse
@{
    string balanceColor;
    if(Model.IsBalance){
        balanceColor = "text-success";
    }
    else{
        balanceColor = "text-danger";
    }
}

<!-- Header -->
<header class="mb-2">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-light px-3">
        <button class="navbar-toggler nav-button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="" class="navbar-brand">
            <img src="~/images/batman.svg" class="me-1" style="width: 55px; height: 55px;" alt="">
        </a>
        <div class="navbar-collapse collapse" id="mynavbar">
            <ul class="navbar-nav list-unstyled w-100">
                <li class="nav-item ">
                    <a asp-action="Index" asp-controller="Home" class="nav-link m-2 nav-icon"><i class="fa-solid fa-home text-black" style="font-size: 20px;"></i></a>
                </li>

                <li class="nav-item">
                    <a asp-controller="Basket" asp-action="Index" class="nav-link m-2 nav-icon"><i class="fa-solid fa-cart-shopping text-black" style="font-size: 20px;"></i></a>
                </li>

                <li class="nav-item ms-auto d-flex align-items-center">
                    <a asp-action="Index" asp-controller="Wallet" class="nav-link m-2 nav-icon me-auto"><i class="fa-solid fa-wallet" style="font-size: 20px; color: brown;"></i></a>
                    <p class="mb-0 fw-bold"><span id="wallet-balance-user"></span> تومان</p>
                </li>

                <li class="nav-item ms-3">
                    <a href="" class="nav-link m-2 nav-icon"><i class="fa-solid fa-user-alt text-black" style="font-size: 20px;"></i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link m-2 nav-icon me-auto" asp-action="Logout" asp-controller="Register"><i class="fa-solid fa-sign-out-alt text-danger" style="font-size: 20px;"></i></a>
                </li>
            </ul>
        </div>

    </nav>
    <!-- End of Navbar -->

</header>
<!-- End Header -->
<!-- Main -->
<main>
    <div class="container mt-4">

        <div class="row mx-auto bg-secondary-subtle p-4 w-50 rounded">
            <form class="w-100" asp-action="ApplyDiscountCode" asp-controller="Payment" method="post">
                <div class="align-items-center">
                    <label class="form-label fw-bold mb-0" asp-for="DiscountCode">کد تخفیف :</label>
                    <input asp-for="DiscountCode" class="" type="text">
                    <input type="hidden" asp-for="Balance" />
                    <input type="hidden" asp-for="IsBalance" />
                    <input type="hidden" asp-for="Discount" />
                    <input type="hidden" asp-for="DiscountCode" />
                    <input type="hidden" asp-for="DiscountedAmount" />
                    <input type="hidden" asp-for="TotalAmount" />
                    <input type="hidden" asp-for="TotalNumberOfProducts" />
                    <button type="submit" class="btn btn-dark btn-sm">اعمال کد تخفیف</button>
                </div>
            </form>
        </div>

        <div class="row align-items-center bg-secondary-subtle p-4 mt-4 rounded w-50 mx-auto text-center">

            <div class="col-12">
                <p class="mb-3"><i class="fa-solid fa-list-numeric me-1 text-primary"></i> تعداد کل محصولات : <span>@Model.TotalNumberOfProducts</span></p>
            </div>

            <hr class="" style="border: dashed 1px black; width: 100%;">

            <div class="col-12">
                <p class="mb-3"><i class="fa-solid fa-dollar-sign me-1 text-success"></i> مبلغ کل <span>@Model.TotalAmount.ToString("N0")</span> تومان</p>
            </div>

            <hr class="" style="border: dashed 1px black; width: 100%;">

            <div class="col-12">
                <p class="mb-3"><i class="fa-solid fa-dollar-sign me-1 text-success"></i> تخفیف <span class="text-success">@Model.Discount%</span></p>
            </div>

            <hr class="" style="border: dashed 1px black; width: 100%;">

            <div class="col-12">
                <p class="mb-3"><i class="fa-solid fa-dollar-sign me-1 text-success"></i> مبلغ نهایی با تخفیف : <span>@Model.DiscountedAmount.ToString("N0")</span> تومان</p>
            </div>

            <hr class="" style="border: dashed 1px black; width: 100%;">

            <div class="col-12">
                <p class="mb-0"><i class="fa-solid fa-wallet me-1" style="color: brown;"></i> موجودی حساب شما <span class="@balanceColor">@Model.Balance.ToString("N0")</span> تومان</p>
            </div>

        </div>


        @if (Model.IsBalance)
        {
            <form method="post" asp-action="SuccessfulPurchase" asp-controller="Wallet">
                <div class="row mt-3">
                    <input type="hidden" asp-for="Discount" />
                    <input type="hidden" asp-for="DiscountedAmount" />
                    <div class="d-grid w-25 mx-auto">
                        <button type="submit" class="btn btn-outline-success">تایید و پرداخت</button>
                    </div>
                </div>
            </form>
        }
        else
        {
            <form method="post" asp-action="Index" asp-controller="Wallet">
                <div class="row mt-3">
                    <div class="d-grid w-25 mx-auto">
                        <button type="submit" class="btn btn-warning">افزایش موجودی</button>
                    </div>
                </div>
            </form>           
        }

    </div>
</main>
<!-- End Main -->

